/*@media only screen and (max-width:480px) {

 
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-container>div {
        margin-bottom: 30px;
    }
}
*/

    .flex-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        justify-content: center;
    }

body {
    font-family: sans-serif;
    color: #ffffff;
}

.card1 {
    margin: 0px 20px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
    background-color: #f88321;
    border-radius: 5px;
    overflow: hidden;
}

.card2 {
    margin: 0px 20px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
    background-color: #70d3e0;
    border-radius: 5px;
    overflow: hidden;
}

.card3 {
    margin: 0px 20px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
    background-color: #f88321;
    border-radius: 5px;
    overflow: hidden;
}

.tag1 {
    background-color: #fab275;
    padding: 5px 10px;
    border-radius: 50px;
    display: inline;
}

.tag2 {
    background-color: #a6e3eb;
    padding: 5px 10px;
    border-radius: 50px;
    display: inline;
}

.tag3 {
    background-color: #fab275;
    padding: 5px 10px;
    border-radius: 50px;
    display: inline;
}

.data1 {
    background-color: #f99847;
    padding: 20px;
    margin: 20px 0px 30px 0px;
    transform: rotate(350deg);
    border-radius: 30px;
}

.data2 {
    background-color: #88dae5;
    padding: 20px;
    margin: 20px 0px 30px 0px;
    transform: rotate(350deg);
    border-radius: 30px;
}

.data3 {
    background-color: #f99847;
    padding: 20px;
    margin: 20px 0px 30px 0px;
    transform: rotate(350deg);
    border-radius: 30px;
}

.title1 {
    margin: auto;
    transform: rotate(10deg);
    padding: 5px 0px;
}

.title2 {
    margin: auto;
    transform: rotate(10deg);
    padding: 5px 10px;
}

.title3 {
    margin: auto;
    transform: rotate(10deg);
    padding: 5px 10px;
}

.text1 {
    display: flex;
    transform: rotate(10deg);
}

.text2 {
    display: flex;
    transform: rotate(10deg);
}

.text3 {
    display: flex;
    transform: rotate(10deg);
}

.circle1 {
    margin: auto;
    padding: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffb047;
}

.circle2 {
    margin: auto;
    padding: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #93f9ea;
}

.circle3 {
    margin: auto;
    padding: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffb047;
}


img {
    width: 100px;
    max-height: auto;
}