body{
    font-family: sans-serif;
  }

.tag1{
    margin: auto;
    padding: 5px 10px;
    border-radius: 50px;
}

.tag2{
    margin: auto;
    padding: 5px 10px;
    border-radius: 50px;
}

.tag3{
    margin: auto;
    padding: 5px 10px;
    border-radius: 50px;
}

#card1{
    color: #ffffff;
    padding: 20px 0px;
    overflow: hidden;
}

#card2{
    color: #ffffff;
    padding: 20px 0px;
    overflow: hidden;
}


#card3{
    color: #ffffff;
    padding: 20px 0px;
    overflow: hidden;
}

#data1{
    padding: 20px;
    margin: 20px 0px 30px 0px;
    transform: rotate(350deg);
    border-radius: 30px;
}

#data2{
    padding: 20px;
    margin: 20px 0px 30px 0px;
    transform: rotate(350deg);
    background-color: #a6e3eb;
    border-radius: 30px;
}

#data3{
    padding: 20px;
    margin: 20px 0px 30px 0px;
    transform: rotate(350deg);
    background-color: #fab275;
    border-radius: 30px;
}

#title1{
    margin: auto;
    transform: rotate(5deg);
    padding: 4px 10px;
}

#title2{
    margin: auto;
    transform: rotate(5deg);
    padding: 5px 10px;
}

#title3{
    margin: auto;
    transform: rotate(5deg);
    padding: 5px 10px;
}

#text1{
    display: flex;
    transform: rotate(5deg);
}

#text2{
    display: flex;
    transform: rotate(5deg);
}

#text3{
    display: flex;
    transform: rotate(5deg);
}

.circle1
  {
    margin:auto;
    padding: 40px;
    border-radius: 50%;
    min-width: 150px;
    min-height: 175px;
  }

.circle2
  {
    margin: auto;
    padding: 40px;
    border-radius: 50%;
    min-width: 150px;
    min-height: 175px;
}
  
.circle3
  {
    margin: auto;
    padding: 40px;
    border-radius: 50%;
    min-width: 150px;
    min-height: 175px;
  }
  img {
    max-height: 100px;
    max-width: 100px;
  }